body{
    background-color: #9bf6ff;
    font-family: 'Amatic SC', cursive;
}

#kep{
    border: 2px solid #9bf6ff;
    height: 904px;
    text-align: center;
    background-image: url(./Image/tabla.png);
    background-repeat: no-repeat;
    background-position-x: center;
}
.h1{
    font-size: bolder;

}
#tartalom{
    margin-top: 170px;
}
#vissza{
    margin-top: 210px;
    text-decoration: none;   
}